/* kullanılacak renkler*/
:root {
  --primary: #333;
  --primary-yellow: #c0d354;
  --primary-white: #ffffff;
}

html,body {
  background-color: var(--primary);
}

h1 {
  font-size: 24px;
  margin: 0;
  background-color: var(--primary);
  color: var(--primary-white);
  padding: 8px;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 18px;
  color: var(--primary-white);
  font-family: 'Times New Roman', Times, serif;
}

.center {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: center;
}

.player {
  border-radius: 50%;
  margin: 10px;
  width: 120px;
  height: 120px;
  display: flex;
  border: var(--primary-yellow) solid 3px ;
  flex-direction: column;
  background-color: var(--primary-white);
  color: var(--primary-white);
  box-shadow: 15px 5px 10px var(--primary-yellow);
}

.score {
  padding: 1px;
  font-size: small;
  font-weight: bold;
  background-color: var(--primary);
  margin: inherit;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: var(--primary-yellow);
}

.round-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: var(--primary-white) solid 1px ;
  margin: 2px;
  cursor: pointer;
  background-color: var(--primary);
  color: var(--primary-yellow);
  box-shadow: 1px 1px 10px var(--primary-white);
}

/*butonun üzerine gelindiğinde*/
.round-btn:hover {
  background-color: var(--primary-white);
}